.container {
    width: 100%;
}

.lot {
    display: inline-block;
    width: 10%;
}

.step {
    height: 40px;
    border-left: solid 1px #000;
}

.step-link {
    border-bottom: solid 1px #000;
}

@keyframes blink_effect {
    0% {
        border-bottom: none;
    }
    50% {
        border-bottom: solid 1px black;
    }
    100% {
        border-bottom: none;
    }
}

.blink {
    animation: 2s linear infinite blink_effect;
}